<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FTP prog</title>
</head>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/style.css" />


<body>
	<div class="files-container">

		{{#each files}}
		{{#if isFile}}
		<a class="folder item" download="" href="{{{pathToRedirect}}}" title="{{name}}">
			<span class="material-symbols-outlined">description</span>
			<span class="item-name">
				{{name}}
			</span>
			<div class="actionsContainer">
				<button class="btn-plain delete-btn" data-delete-path="{{{filePath}}}">
					<span class="material-symbols-outlined">delete</span>
				</button>
				<button class="rename-btn" data-rename-path="{{{filePath}}}" data-is-folder="true">
					<span class="material-symbols-outlined"> edit</span>
				</button>
			</div>
		</a>
		{{else}}
		<a class="file item" href="{{{pathToRedirect}}}" title="{{name}}">
			<span class="material-symbols-outlined">
				folder
			</span>
			<span class="item-name">
				{{name}}
			</span>
			<div class="actionsContainer">
				<button class="btn-plain delete-btn" data-delete-path="{{{filePath}}}" data-is-folder="true">
					<span class="material-symbols-outlined"> delete</span>
				</button>
				<button class="rename-btn" data-rename-path="{{{filePath}}}" data-is-folder="true">
					<span class="material-symbols-outlined"> edit</span>
				</button>
			</div>
		</a>
		{{/if}}
		{{/each}}
	</div>
	<button class="btn-floating floating-add-button" id="add-button">
		<span class="material-symbols-outlined">
			add
		</span>
	</button>
	<div class="modal-container hide" id="modal-container">
		<button id="modal-close" class="modal-close">
			<span class="material-symbols-outlined">
				close
			</span>
		</button>

		<div class="modal">

		</div>
	</div>
</body>

<script src="/script.js">
</script>

</html>